@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500;600;900&display=swap');
body{
    font-family: 'Gluten', cursive;
background: rgb(255,252,132);
background: linear-gradient(90deg, rgba(255,252,132,1) 3%, rgba(189,244,67,1) 8%, rgba(97,221,203,1) 72%, rgba(112,230,195,1) 80%, rgba(216,219,55,1) 99%);
color: black;
}
table{
 width: 100%;
 border-collapse: collapse;
height:  40vh;
}
img{
width: 50px;    
}
h1{text-align: center
    ;}
    td,th{border: 1px solid black;
        width: 150px;
        height: 130px;
        text-align: center;
        ;

    }
    h1:hover{
     color: blue;   
    }
    th:hover{
        color: blue;
    }
    td:hover{
        background: linear-gradient(90deg, rgb(241, 213, 51) 3%, rgb(244, 197, 67) 8%, rgb(231, 62, 50) 72%, rgb(238, 185, 71) 80%, rgb(247, 235, 69) 99%);
       font-size: 50px;  
       color: rgb(5, 0, 0);   
    }
    
    
    